@import '../../../styles/common';

.anchorButton {
  display: block;
  background-color: $lightColor;
  max-width: 6em;
  margin: 1em auto 0 auto;
  padding: 0.4em 0.6em;
  font-size: 2em;
  font-weight: 700;
  font-family: $serif !important;
  letter-spacing: 0.1em;
  color: $themeColor !important;
  transition: background-color 1s;
  @include shadow(4px, 4px, 5px, 0.5);

  &:hover {
    background-color: setColor(6);
    text-decoration: none;
  }
}