@import '../../styles/common';

.offerBox {
  color: $lightColor;
  padding: 20px;

  @media all and (min-width: 992px) {
    min-height: 510px;
  }

  @media all and (min-width: 1200px) {
    min-height: 480px;
  }

  h2 {
    font-weight: bold;
    font-size: 1.8em;
  }
}

.serviceName {
  margin-bottom: 30px;
}

.serviceItem {
  width: 100%;
  margin: 4px 0;
  //
  //@media all and (max-width: 360px) {
  //  margin: 5px 0 10px 10px;
  //}
  //
  //
  //@media all and (min-width: 768px) and (max-width: 991px) {
  //  margin: 10px 0 10px 15vw;
  //}
}

.serviceType {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 10px;
}

.servicePrice {
  //margin-left: 40px;
  font-size: 0.8em;
  //
  //@media all and (max-width: 360px) {
  //  margin-left: 10px;
  //}

}

.priceValue {
  font-size: 2em;
  font-weight: bold;
  padding-right: 6px;
  color: setColor(4);
}

.offerFootnote {
  font-size: 0.7em;
  margin-top: 30px;
  //padding-left: 40px;
}