@import '../../styles/common';

.offerBox {
  min-height: 330px;
  color: $lightColor;
  padding: 20px;
}

.serviceName {
  margin-bottom: 30px;
}

.serviceItem {
  width: 100%;
  margin: 10px 0 10px 40px;
}

.serviceType {
  font-weight: bold;
  font-size: 1.5em;
}

.servicePrice {
  margin-left: 40px;
  font-size: 0.8em;
}

.priceValue {
  font-size: 2em;
  font-weight: bold;
  color: setColor(4);
}

.offerFootnote {
  font-size: 0.7em;
  padding-left: 40px;
}