// *** THEME COLOUR *** //
$themeColor: #9d0059;
$darkColor: #0f0f0f;
$lightColor: #f8f9fa;

// *** FONTS *** //
$cursive: 'Fugaz One', cursive;
$serif: 'Roboto Slab', serif;
$sansSerif: 'Raleway', sans-serif;

// *** BORDERS *** //
$themeBorder: $themeColor 1px solid;
$lightBorder: $lightColor 1px solid;
$themeThickBorder: $themeColor 3px solid;
$lightThickBorder: $lightColor 3px solid;
