@import '../../styles/common';


body {
  background: linear-gradient($themeColor, darken($themeColor, 7));
  font-family: $serif !important;
  @include set-selection($lightColor, $themeColor);
  color: $lightColor !important;
  overflow-x: hidden;
}

a {
  color: $themeColor;
  text-decoration: none;
  cursor: pointer;

  &:link {
    color: $themeColor;
    text-decoration: none;
  }

  &:visited {
    color: $themeColor;
    text-decoration: none;
  }

  &:hover {
    color: $themeColor;
    text-decoration: none;
  }

  &:active {
    color: $themeColor;
    text-decoration: none;
  }

}

.highlighted {
  font-weight: bold;
}

.lightBackground {
  background-color: $lightColor !important;
  color: $darkColor;
  width: 100vw;
  @include set-selection($themeColor, $lightColor);

  h1 {
    color: $themeColor;
  }

  .highlighted {
    color: $themeColor;
  }
}

.sectionContent {
  padding: 3% 1% 5% 1%;
  overflow-x: hidden;
}

.verticallyCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
