@import '../../styles/common';

.contactBox {
  min-height: 300px;
}

.contactIcon {
  color: $themeColor;
  max-width: 25px;
  margin-right: 15px;
}

.copyrightNote {
  font-size: 0.8em;
  color: $darkColor;
  height: 30px;
  padding: 10px;
}