@import '../../../styles/common';

.portraitWrapper {
  width: 100%;
  text-align: right;
  padding-right: 50px;
  z-index: 0;

  @media all and (max-width: 767px) {
    text-align: center;
    padding-right: 0;
  }

}

.portrait {
  max-height: 460px;
  @include regularShadow;
  margin: 15px;
}