@import '../../../styles/common';

.themeTextBubble {
  border: $themeBorder;
  padding: 15px 20px;
  margin: 15px 10px;
  font-size: 1.1em;
  background-color: $lightColor;
  @include regularShadow;
}

.lightTextBubble {
  border: $lightBorder;
  padding: 15px 20px;
  margin: 15px 10px;
  font-size: 1.1em;
  background-color: $themeColor;
  @include regularShadow;
}