@import '../../../styles/common';

.lightTextBubble {
  border: $themeBorder;
  padding: 15px 20px;
  margin: 15px 10px;
  font-size: 1.1em;
  background-color: $lightColor;
  @include regularShadow;
}

.themeTextBubble {
  border: $lightBorder;
  padding: 15px 20px;
  margin: 15px 10px;
  font-size: 1.1em;
  background-color: $themeColor;
  @include regularShadow;

  a {
    color: $lightColor;
    text-decoration: none;
    cursor: pointer;

    &:link {
      color: $lightColor;
      text-decoration: none;
    }

    &:visited {
      color: $lightColor;
      text-decoration: none;
    }

    &:hover {
      color: $lightColor;
      text-decoration: none;
    }

    &:active {
      color: $lightColor;
      text-decoration: none;
    }

  }
}