@import '../../../styles/common';

.lightTextBubble {
  border: $themeBorder;
  padding: 15px 20px;
  margin: 25px 10px;
  font-size: 1.1em;
  background-color: $lightColor;
  @include regularShadow;
}

.themeTextBubble {
  border: $lightBorder;
  padding: 15px 20px;
  margin: 25px 10px;
  font-size: 1.1em;
  background-color: $themeColor;
  @include regularShadow;

  a {
    color: setColor(4);
    text-decoration: none;
    cursor: pointer;
    transition: color 1s;

    &:link {
      color: setColor(4);
      text-decoration: none;
    }

    &:visited {
      color: setColor(4);
      text-decoration: none;
    }

    &:hover {
      color: setColor(6);
      text-decoration: none;
    }

    &:active {
      color: setColor(4);
      text-decoration: none;
    }

  }
}