.lightTextBubble {
  border: #9d0059 1px solid;
  padding: 15px 20px;
  margin: 25px 10px;
  font-size: 1.1em;
  background-color: #f8f9fa;
  text-align: center;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5); }

.themeTextBubble {
  border: #f8f9fa 1px solid;
  padding: 15px 20px;
  margin: 25px 10px;
  font-size: 1.1em;
  background-color: #9d0059;
  text-align: center;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5); }
  .themeTextBubble a {
    color: #ff6abe;
    text-decoration: none;
    cursor: pointer;
    transition: color 1s; }
    .themeTextBubble a:link {
      color: #ff6abe;
      text-decoration: none; }
    .themeTextBubble a:visited {
      color: #ff6abe;
      text-decoration: none; }
    .themeTextBubble a:hover {
      color: #ffd0eb;
      text-decoration: none; }
    .themeTextBubble a:active {
      color: #ff6abe;
      text-decoration: none; }

.blogTextBubble {
  border: #9d0059 1px solid;
  padding: 20px;
  margin: 20px 10px;
  font-size: 1.1em;
  background-color: #f8f9fa;
  color: #0f0f0f;
  text-align: center;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5); }
  .blogTextBubble p, .blogTextBubble cite, .blogTextBubble h2 {
    padding: 0 15px; }
  .blogTextBubble ol, .blogTextBubble ul {
    margin-left: 25px; }
  .blogTextBubble ul {
    list-style: none;
    /* Remove default bullets */ }
  .blogTextBubble ul li::before {
    content: "\2022";
    color: #9d0059;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em; }
  .blogTextBubble a {
    color: #9d0059;
    text-decoration: none;
    cursor: pointer;
    transition: color 1s; }
    .blogTextBubble a:link {
      color: #9d0059;
      text-decoration: none; }
    .blogTextBubble a:visited {
      color: #9d0059;
      text-decoration: none; }
    .blogTextBubble a:hover {
      color: #37001f;
      text-decoration: none; }
    .blogTextBubble a:active {
      color: #9d0059;
      text-decoration: none; }
  .blogTextBubble img {
    max-width: 90%; }
  .blogTextBubble iframe {
    width: 60vw;
    height: 33.75vw;
    /*16:9*/ }
  .blogTextBubble figure {
    margin-top: 1.5em;
    margin-bottom: 1.5em; }
  .blogTextBubble figcaption {
    font-size: 0.8em;
    margin-top: 0.2em; }
  .blogTextBubble h2 {
    color: #9d0059;
    margin-bottom: 1em;
    font-size: 2em; }
  .blogTextBubble .blogPost h2 {
    color: #0f0f0f !important;
    font-size: 1.4em;
    text-align: left; }
  .blogTextBubble p, .blogTextBubble ul, .blogTextBubble ol {
    text-align: left; }
  .blogTextBubble cite {
    text-align: left;
    border-left: 4px solid #9d0059;
    font-size: 0.9em;
    display: block;
    padding-left: 2em;
    padding-right: 3em; }

/*# sourceMappingURL=TextBubble.css.map */
