@import '../../../../styles/common';
@keyframes pulsate {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.spinnerWrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  animation: pulsate 1s ease-in-out infinite;
}